*.log
logs/
BikeRental.Api/logs/

bin/
obj/
*.dll
*.pdb
*.exe

.vscode/
.idea/
*.csproj.user
*.sln.DotSettings

tmp/
.localstack/
BikeRental.Api/Storage/

*.trx
*.coverage
TestResults/

appsettings.Development.json
appsettings.*.json

project.assets.json
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets

obj/Docker/

.vs/
